option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: hotel_project.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: hotel_project.settings
    DEBUG: "False"
    ALLOWED_HOSTS: ".elasticbeanstalk.com,localhost,127.0.0.1"
    GOOGLE_MAPS_API_KEY: "AIzaSyAtX02OJOKyVBmE3QV45Pm8qQKkHGlZ0xQ"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
