option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    MatcherHTTPCode: 200,302
    HealthCheckTimeout: 5
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    HealthCheckInterval: 15
