option_settings:
  # Python settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: hotel_project.wsgi:application
  
  # Environment variables
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: hotel_project.settings
    DEBUG: "False"
    ALLOWED_HOSTS: ".elasticbeanstalk.com,localhost,127.0.0.1,172.31.16.188,172.31.40.213,172.31.36.19,172.31.43.146"


    GOOGLE_MAPS_API_KEY: "AIzaSyAtX02OJOKyVBmE3QV45Pm8qQKkHGlZ0xQ"
  
  # Proxy settings
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  
  # Static files
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /media: media
  
  # Health check settings
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health/
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health/
    MatcherHTTPCode: 200,302
    HealthCheckTimeout: 5
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    HealthCheckInterval: 15
  
  # Network settings
  aws:ec2:vpc:
    AssociatePublicIpAddress: true
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  03_createsu:
    command: "source /var/app/venv/*/bin/activate && python manage.py createsu"
    leader_only: true